.obsidian/
Диффуры IDZ @all.*
Chats/
~$*.*
peerdraft_shared

.obsidian/workspace.json
conflict-files-obsidian-git.md
/ПРЕДМЕТЫ/Автоматизированные производственные системы/Литра/-Задания
/ПРЕДМЕТЫ/Автоматизированные производственные системы/Литра/-Орг-метод
/ПРЕДМЕТЫ/Автоматизированные производственные системы/Литра/«Автореф
/ПРЕДМЕТЫ/Автоматизированные производственные системы/Литра/«Статьи
ПРЕДМЕТЫ/Автоматизированные производственные системы/Литра/Литер.zip
